@media(min-width: 992px) {
    #sticker-menu {display: block;max-width: 70%;float: left;line-height: 14px;}
    #sticker-container .tbl > .tbl-cell {vertical-align: middle;}
    #sticker-container .tbl > .tbl-cell.left { width: 1%; padding-right: 40px; }
    #sticker-container .tbl > .tbl-cell.left img { max-width: none; }
    #sticker-container.menu-fix { z-index: 999; -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.3); -moz-box-shadow: 0 2px 3px 0 rgba(0,0,0,.3); box-shadow: 0 2px 3px 0 rgba(0,0,0,.3); position: fixed; top: 0; left: 0; width: 100%; background-color: #fafafa; }
    #sticker-container ul.main-menu {display: table;width: 100%;padding:  0;margin: 0;}
    #sticker-menu .main-menu:after {display: table;clear: both;/* content: ""; */}
    #sticker-menu .main-menu > li {position: relative;text-align: center;width: 1%;transition: ease-in-out .3s;}
    #sticker-menu .main-menu ul > li > a { display: block; white-space: nowrap; }
    #sticker-menu .main-menu > li > a {color: #fff;transition: ease-in-out .3s;display: block;line-height: 18px;font-size: 14px;padding: 10px 10px 20px;white-space:  nowrap;}
    #sticker-menu .main-menu > li:first-child > a {padding-left: 0;}
    #sticker-menu .main-menu > li.menu-mobile{display: none}
    #sticker-menu .main-menu > li:hover > a {color: #febd69;}
    #sticker-menu .main-menu > li>ul {list-style: none;position: absolute;top: 100%;left: 0;z-index: 1000;transform: translate(0,10px);border: 1px solid #ececec;box-shadow: none;border-radius: 0;background: rgba(255, 255, 255, 0.93);visibility: hidden;opacity: 0;border: none;padding: 0;min-width: 230px;border-radius: 0;border-top: solid 3px #024242;max-width: 900px;text-align: left;}
    #sticker-menu .main-menu > li.search>ul{right: 0;left: auto;min-width: 160px;padding:5px;}
    #sticker-menu .main-menu > li.search>ul input{width: 100%;height: 30px;padding:10px;}
    #sticker-menu .main-menu > li:hover > ul { visibility: visible; opacity: 1; transform: none; transition: ease-in-out .3s; }
    #sticker-menu .main-menu > li ul:after { content: ""; display: block; position: absolute; height: .4px; top: -.4px; width: 100%; }
    #sticker-menu .main-menu > li ul > li > a {line-height: 0.8em;border-left: 3px solid rgba(17, 17, 17, 0);-webkit-transition: all 0.3s;transition: all 0.3s;font-size: 14px;color: #777;font-weight: 400;padding: 9px 15px;}
    #sticker-menu .main-menu > li ul > li > a:hover, #sticker .main-menu > li ul > li.active > a {color: #094647;padding-left: 20px;border-left: 3px solid #064344;}
    #sticker-menu .main-menu > li.active > a, #sticker .main-menu > li:hover > a {color: #0099cc;top: 10px;}
}
@media(max-width:1200px){
    #sticker-menu .main-menu > li > a{padding: 10px 4px 20px;}
    .list-pr .list .item .desc ,.list-pr .list .slider-product .item .desc{padding: 15px 10px 0;}
    .list-pr .list .item .desc .price{white-space: nowrap}
    .list-pr .list .item-hover .item.item100{z-index: 0;}
    .zoomWindow{display: none !important}
    .list-decan.tbl .tbl-cell{padding-right:10px;}
}
@media(max-width: 991px) {
    #sticker-menu { width: 100%; height: 100%; left: 0; top: 0; z-index: 999; visibility: hidden; opacity: 0; position: fixed; }
    #sticker-menu.opened { visibility: visible; opacity: 1; transition: ease-in-out .3s; }
    #sticker .container { padding: 0; }
    #sticker-overlay { opacity: 0; visibility: hidden; background: rgba(0,0,0,0.5); position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 0; -webkit-transition: all 300ms ease-out; -moz-transition: all 300ms ease-out; -ms-transition: all 300ms ease-out; -o-transition: all 300ms ease-out; transition: all 300ms ease-out; }
    #sticker-wrapper {width: 310px;max-width: 100%;background: #024242;height: 100%;border: none;z-index: 1;left: -100%;display: block;position: relative;padding: 116px 0 50px;-webkit-transition: all 300ms ease-out;-moz-transition: all 300ms ease-out;-ms-transition: all 300ms ease-out;-o-transition: all 300ms ease-out;transition: all 300ms ease-out;margin: 0;}
    #sticker-menu.opened #sticker-wrapper { left: 0; }
    #sticker-menu.opened #sticker-overlay { opacity: 1; visibility: visible; }
    #sticker-menu .tbl, #sticker .tbl-cell { display: block; width: 100%; }
    #sticker-menu .sticker-header { position: absolute; top: 0; left: 0; width: 100%; }
    #sticker-menu .sticker-header .title {font-size: 20px;line-height: 75px;height: 75px;text-transform: uppercase;color: #fff;padding: 0 50px 0 20px;}
    #sticker-menu .sticker-header .close-menu { width: 40px; height: 40px; line-height: 40px; position: absolute; right: 5px; top: 17px; cursor: pointer; text-transform: uppercase; }
    #sticker-menu .sticker-header .close-menu:before, #sticker-menu .sticker-header .close-menu:after { width: 18px; height: 2px; position: absolute; left: 50%; top: 50%; margin: -1px 0 0 -9px; content: ""; background: #fff; }
    #sticker-menu .sticker-header .close-menu:before { transform: rotate(45deg); -moz-transform: rotate(45deg); -webkit-transform: rotate(45deg); -ms-transform: rotate(45deg); }
    #sticker-menu .sticker-header .close-menu:after { transform: rotate(-45deg); -moz-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); }
    #sticker-menu .sticker-body {max-height: 100%;overflow: auto;width: 310px;padding-bottom: 54px;}
    #sticker-menu .search form { position: relative; }
    #sticker-menu .search form input { width: 100%; height: 40px; line-height: 40px; padding: 0 30px 0 15px; background-color: #fff; border: none; outline: none !important; }
    #sticker-menu .search form button {position: absolute;top: 7px;right: 10px;background: none !important;color: #666;outline: none !important;border: none;font-size: 20px;padding: 0;}
    #sticker-menu ul.main-menu {display: block;float: none !important;padding:  0;margin: 0;}
    #sticker-menu .main-menu > li {display: block;border-bottom: 1px solid #bdd5e4;padding: 0;position: relative;width: 100%;}
    #sticker-menu .main-menu > li > a { color: #fff; line-height: 14px; padding: 11px 45px 11px 15px; display: block; text-align: left; font-weight: normal; font-size: 1; text-transform: capitalize; }
    #sticker-menu #sticker-wrapper .main-menu > li > .fa { position: absolute; right: 0; top: 0; line-height: 39px; width: 39px; text-align: center; cursor: pointer; margin: 0; font-size: 12px; display: block; color: #fff; }
    #sticker-menu ul.main-menu > li ul {position: static;transform: none;width: 100%;padding-left: 10px;margin-left: 0;background-color: transparent;display: none;margin-bottom: 10px;}
    #sticker-menu ul.main-menu > li ul:after { display: none; }
    #sticker-menu ul.main-menu > li ul > li {border-bottom: none;list-style:  none;}
    #sticker-menu ul.main-menu > li ul > li > a { border-bottom: none; padding: 7px 10px 7px 20px; color: #fff; }
    #sticker-menu .sticker-footer {position: absolute;bottom: 0;left: 0;width: 100%;background-color: #2c2c2c;color: #fff;}
    #sticker-menu .hotline { padding: 10px; }
    #sticker-menu .hotline .text { min-height: 34px; line-height: 34px; background: url('../img/hotline-icon.png') 3px 4px no-repeat; white-space: nowrap; padding: 0px 10px 0px 40px; background-color: #fff !important; border-radius: 34px; }
    #sticker-menu .hotline .text span, #sticker .main-menu > li.hotline .text b { display: inline-block; font-weight: 600; }
    #sticker-menu .hotline .text span { color: #5d5d5d; text-transform: uppercase; font-size: 16px; font-weight: bold; margin-bottom: 0; padding-right: 5px; }
    #sticker-menu .hotline .text b { color: #0a4976; font-size: 16px; }
    #sticker-menu .lang { border-top: 1px solid #006530; padding: 12px 15px; text-transform: uppercase; }
    #sticker-menu .lang .current { color: #ddd; font-weight: bold; }
    #sticker-menu .socials {display: inline-block;width: auto;color: #fff;margin-bottom: 0;padding: 0;}
    #sticker-menu .socials:after { content: ""; display: table; clear: both; }
    #sticker-menu .socials > li { width: 16.66666666666667%; border: none; display: inline-block; float: left; }
    #sticker-menu .socials > li > a {padding: 0;display: block;height: 50px;line-height: 50px;border: 1px solid #a5a1a1;text-align: center;border-left: none;text-transform:  uppercase;font-size: 19px;color: #fff;}
    #sticker-menu .socials > li > a .fa { border-radius: 0; font-size: 20px; color: #fff; }
    #sticker-menu .socials > li:last-child > a .fa { border-right: none; }
    #touch-menu {width: 30px;height: 25px;float: right;position: absolute;margin-top: 1px;right: 15px;top: 16px;z-index: 99;}
    #touch-menu .touch-menu-inner, #touch-menu .touch-menu-inner:before, #touch-menu .touch-menu-inner:after {position: absolute;width: 30px;height: 4px;transition-timing-function: ease;transition-duration: .15s;transition-property: transform;background-color: #ffffff;}
    #touch-menu .touch-menu-inner { display: block; margin-top: -2px; top: auto; bottom: 0; transition-delay: .13s; transition-timing-function: cubic-bezier(.55,.055,.675,.19); transition-duration: .13s; }
    #touch-menu.opened .touch-menu-inner { transition-delay: .22s; transition-timing-function: cubic-bezier(.215,.61,.355,1); transform: translate3d(0,-10px,0) rotate(-45deg); }
    #touch-menu.opened .touch-menu-inner:before { top: 0; transition: top .1s cubic-bezier(.33333,0,.66667,.33333) .16s,transform .13s cubic-bezier(.215,.61,.355,1) .25s; transform: rotate(-90deg); }
    #touch-menu.opened .touch-menu-inner:after { top: 0; transition: top .2s cubic-bezier(.33333,0,.66667,.33333),opacity .1s linear .22s; opacity: 0; }
    #touch-menu .touch-menu-inner:before, #touch-menu .touch-menu-inner:after { display: block; content: ""; }
    #touch-menu .touch-menu-inner:before {top: -10px;transition: top .12s cubic-bezier(.33333,.66667,.66667,1) .2s,transform .13s cubic-bezier(.55,.055,.675,.19);}
    #touch-menu .touch-menu-inner:after {top: -20px;transition: top .2s cubic-bezier(.33333,.66667,.66667,1) .2s,opacity .1s linear;}
    #sticker-menu .main-menu > li.menu-mobile{display: block}
}
@media(max-width:991px){
    .top-footer .left {overflow: hidden;margin-bottom: 15px;}
    .content-footer .tbl .tbl-cell{padding-right: 15px;}
    .list-grip .item .desc{padding: 20px 20px;}
    header .supp-right,.header-top .tbl>.tbl-cell{display: none;}
    .header-top .tbl>.tbl-cell:last-child{display: block; padding: 7px 0}
    .header .logo{width: 50px;}
    #sticker-container{padding:6px 0;position: relative;}
    .list-top-header .item.right .tbl-cell{vertical-align: middle}
    .list-top-header .item.right .tbl-cell.hotline{padding-right: 0}
    .top-header{padding-right: 40px;}
    .padding {
        padding-top: 63px !important;
    }
    .row-fixx{margin:0 -5px;}
    .row-fixx>.col-xs-12{padding:0 5px;}
    .list-grip .height100{height: 280px;}
    .list-grip .height50{height: calc(270px / 2); margin-bottom: 10px;}
    .nav-menu-title{position: absolute;right: 0;top: 0;width: 40px;font-size: 18px;color: #024242;text-align: right;}
    .content .title-gr .tbl{top: 100%;z-index: 1;background: #fff;height:  auto;display: none;}
    .content .title-gr .tbl .tbl-cell a{border:0}
    .content .title-gr .tbl .tbl-cell{display: block;padding:8px 10px;border-bottom:1px solid #ddd;}
    .content-about .title-right .form-sort{position: initial;margin-top: 10px;}
    .content-about .title-right .form-group{margin-bottom: 0;}
    .content-about .title-right .form-sort .tbl-cell{padding-left: 0;padding-right: 10px}
    .slider-product .lSAction > .lSPrev{left: 0;}
    .slider-product .lSAction > .lSNext{right: 0;}
    .detail-img{margin:0;margin-bottom: 15px;position:  relative;z-index: 1;}
    .detail-img:before{position: absolute;top:0;left: 0;bottom:0;right: 0;z-index: 8;content: '';}
    #gallery_01{width: 100%;height: 80px; position: initial}
    .slider-img .lSAction > a{top: 50%;}
    .slider-img .lSAction > .lSPrev{left: 5px;transform: rotate(-90deg);}
    .slider-img .lSAction > .lSNext{right: -6px;transform: rotate(-90deg);}
    label.star{font-size: 25px;}
    .ct-eva button{margin: 0;padding:0 20px;}
}
@media(max-width:767px){
    .list-top-header .item.search{width: 0;display: none;}
    .list-top-header .item.right .tbl-cell.cart a{font-size: 0;}
    .list-top-header .item.right .tbl-cell.hotline span{display: block;line-height: 1;}
    #touch-menu{width: 25px;height: 20px;}
    #touch-menu .touch-menu-inner, #touch-menu .touch-menu-inner:before, #touch-menu .touch-menu-inner:after{width: 25px;height: 3px;}
    #touch-menu .touch-menu-inner:before{top: -8px;}
    #touch-menu .touch-menu-inner:after{top: -16px;}
    .top-header{padding:4px 0;    padding-right: 40px;}
    .content .title .tbl{top: 100%;z-index: 3;background: #fff;height:  auto;display: none;position: absolute;right: 0;}
    .content .title .tbl .tbl-cell a{border:0}
    .content .title .tbl .tbl-cell{display: block;padding:8px 10px;border-bottom:1px solid #ddd;}
    .content-footer .tbl .tbl-cell,.list-news .item-left{display: block;margin-bottom: 20px;}
    .content-footer .tbl h3{margin-bottom: 10px;}
    .bottom-footer .menu-bottom ul li{padding:0 5px;}
    .bottom-footer .menu-bottom{float: left;}
    .top-footer .left .hotline a {
        font-size: 20px;
    }
    .slider-banner .lSAction > a, .slider-abouts .lSAction > a, .slider-product .lSAction > a{width: 15px;}
    .top-footer .left .list-socical ul{padding-left: 0;padding-top: 10px;}
    .list-pr .list .item .desc .price span{display: block;}
    .content-about .title-right .form-sort label{padding:0}
    .left-ct{margin-bottom: 20px;}
}
@media(max-width:480px){
    .list-news .list-right .item-news a.img{width: 100%;height: auto;margin-bottom: 15px;}
    .list-news .list-right .item-news .desc{padding:0 5px;}
    .content-contact .iframe{height: 320px;}
}
@media(max-width:424px){
    .list-top-header .item.right .tbl-cell.hotline span,.top-footer .right form span.text{display: none;}
    .top-footer .right form .input-group{width: 100%;}
    .content-footer{padding:25px 0 0}
    .bottom-footer .menu-bottom ul{display: none}
    .list-decan.tbl .tbl-cell{display: block; height: 40px;}
    .list-decan.tbl .tbl-cell span{display: table-cell;height: 40px;vertical-align: middle}
    .list-decan.tbl{padding: 15px 0;}
    .right-dt .select .addbag{width: 135px;margin:0;}
}