@charset "utf-8";
/* CSS Document */
::selection { color: #000; background: #ffc22e; }
::-moz-selection { color: #000; background: #ffc22e; }
::-webkit-input-placeholder { color: #c9c9c9; text-overflow: ellipsis; }
:-moz-placeholder { color: #ffc22e !important; text-overflow: ellipsis; opacity: 1; }
::-moz-placeholder { color: #ffc22e !important; text-overflow: ellipsis; opacity: 1; }
:-ms-input-placeholder { color: #ffc22e !important; text-overflow: ellipsis; opacity: 1; }
::-webkit-scrollbar { width: 6px; height: 6px; }
::-webkit-scrollbar-track { -webkit-box-shadow: inset 0 0 6px rgba(100,100,100,.9); -moz-box-shadow: inset 0 0 6px rgba(100,100,100,.9); box-shadow: inset 0 0 6px rgba(100,100,100,.9); background-color: rgba(100,100,100,.9); }
::-webkit-scrollbar-thumb { background: #024242; -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.5); -moz-box-shadow: inset 0 0 6px rgba(0,0,0,.5); box-shadow: inset 0 0 6px rgba(0,0,0,.5); }
::-webkit-scrollbar-thumb:window-inactive { background: #024242; }
a:focus,button:focus,input:focus,select:focus,textarea:focus{outline: none !important;}
body{
  font-family: 'Open Sans', sans-serif;
}
img{
      transition: all 1s ease;
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      object-fit:  cover;
}
a{
  transition: ease-in-out .3s;
}
a:hover{
  text-decoration: none;
}
.tbl{
  display: table;
}
.tbl>.tbl-cell{
  display: table-cell;
}
.fixed{
  position: fixed !important;
  z-index: 1000000;
  width: 100%;
  background: #ffffff;
  top: 0px;
  -webkit-box-shadow: 0 2px 3px 0 rgba(0,0,0,.3);
  -moz-box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
  box-shadow: 0 2px 7px 0 rgba(0,0,0,.1);
}
.list-hotline-fixed{
  position: fixed;
  top: 50%;
  right: 0;
  z-index: 100;
}
.list-hotline-fixed .hotline-index .item{width: 90px;margin-bottom: 10px;padding: 0 11px;}
.list-hotline-fixed .item img{max-width: 100%;}
.list-hotline-fixed .hotline .item{width: 42px;height: 45px;background: #da251c;border-radius: 10px 0 0 10px;text-align: center;line-height: 45px;margin-bottom: 5px;}
.am-sticky-placeholder{
  width: 1140px;
  max-width: 100%;
  z-index: 1000;
}
.padding{
  padding-top: 109px !important;
}
.header.product.fixed{
  position: initial !important;
}
.header{transition: .5s;}
.header .logo{width: 101px;}
.header .logo img{max-width: 100%;transition: .5s;}
.header.fixed .logo img{width: 100px;}
.top-header{transition: ease-in-out .5s;overflow: hidden;padding: 8px 0;max-height: 48px;}
.header.fixed .header-top{
  height: 0;
  overflow: hidden;
  opacity: 0;
  margin: 0;
}
.header.fixed{padding:0;}

#sticker-menu .main-menu > li > a img{margin-top: -5px;}

.slider-banner{position: relative;}
.slider-banner a img{width: 100%;}
.header-top{transition: .3s;height: 33px;}
.header-top .tbl{height: 33px;padding:0;margin:0;}
.header-top .tbl>.tbl-cell{vertical-align: middle;padding:0 7px; border-right: 1px solid #dddddd;font-size: 13px;}
.header-top .tbl>.tbl-cell:first-child{padding-left: 0;}
.header-top .tbl>.tbl-cell:last-child{padding-right: 0;border-right: 0}
.header-top .tbl>.tbl-cell a{color: #212121;white-space:  nowrap;}
.header-top .tbl>.tbl-cell a img{margin-bottom: 3px;margin-right: 5px;}
.header-top .tbl>.tbl-cell a span{font-weight: 600;}
.color-red{color: #e00f0f}

#sticker-container{background: url('../images/bg-header.jpg') left no-repeat;background-size: cover;padding: 13px 0 0px;}
.list-top-header .item.search{float: left; width: 40%;max-width: 370px;}
.list-top-header .item.right{float: right;color: #fff;}

.list-top-header .item.search .input-group-addon{
  height: 32px;
  background: #febd69;
  border-left: 0;
  border-color: #febd69;
  border-radius: 2px;
  padding: 0 5px;
}
.list-top-header .item.search .input-group-addon button{
  background: #febd69;
  border:0;
}
.list-top-header .item.search .form-control{
  border-right:0;
  border-color: #d6d6d6;
  height: 32px;
  border-radius: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0);
}
.list-top-header .item.right .tbl-cell {position: relative;padding-left:50px;height: 32px;}
.list-top-header .item.right .tbl-cell:before{position: absolute;height: 32px;width: 50px;content: '';left: 0;top: 0;}
.list-top-header .item.right .tbl-cell.hotline{padding:0 40px}
.list-top-header .item.right .tbl-cell.hotline a{font-size: 16px;color: #f4dc33}
.list-top-header .item.right .tbl-cell.hotline:before{background: url('../images/bg-hotline.png') left no-repeat}
.list-top-header .item.right .tbl-cell.cart:before{background: url('../images/bg-cart.png') left no-repeat}
.list-top-header .item.right .tbl-cell.cart span{position: absolute;top: -4px;left: 19px;font-weight: 600;font-size: 18px;color: #fb8c00;}
.list-top-header .item.right a{color: #fff;}
header .supp-right{max-width: 30%;float: right;}
header .supp-right .tbl a{    color: #fff;
  transition: ease-in-out .3s;
  display: block;
  line-height: 18px;
  font-size: 14px;
  border-right: 1px solid #5b8485;
  padding: 0 10px;
  white-space: nowrap;}
  header .supp-right .tbl a:hover{color: #febd69;}
header .supp-right .tbl .tbl-cell{
    padding: 10px 0;}
header .supp-right .tbl .tbl-cell:last-child a{padding-right: 0;border-right: 0}

.slider-banner .lSAction > a, .slider-abouts .lSAction > a, .slider-product .lSAction > a { width: 33px; height: 60px; top: calc(50% - 30px); opacity: 1; }
.slider-banner .lSAction > .lSPrev { left: 25px; background: url(../images/prev.png) left no-repeat; }
.slider-banner .lSAction > .lSNext { right: 25px; background: url(../images/next.png) right no-repeat; }

.row-fixx{margin:0 -14px;}
.row-fixx>.col-xs-12{padding: 0 14px;}
.list-grip .item { position: relative; margin-bottom: 28px; }
.list-grip .item .desc {position: absolute;top: 0;left: 0;right: 0;bottom: 0;padding: 50px 50px 0;color: #1c1c1c;transition: .3s;}
.list-grip .item .desc:hover { background: rgba(0, 0, 0, 0.2); }
.list-grip .item .desc.width50 { padding-right: 50%; }
.list-grip .item .desc h3 a {color: #1c1c1c;}
.list-grip .height100 { height: 375px; }
.list-grip .height50 { height: calc(347px / 2); }
.list-grip .item .img { width: 100%; height: 100%; overflow: hidden; }
.list-grip .item .img img { width: 100%; height: 100%; object-fit: cover; }
.list-grip .item .desc h3 {font-size: 23px;font-weight: 600;text-transform: uppercase;margin-top: 0;line-height: 1.2;margin-bottom: 5px;color: #333333;}
.list-grip .item .desc p.eng {margin: 0;font-size: 15px;font-weight:  600;text-transform:  uppercase;color: #333333;}
.list-grip .item .desc .top { margin-bottom: 15px; }
.list-grip .item .desc a:hover {color: #fb8c00;}
.section-gr{padding:30px 0 0;}
.section-gr .views { color: #053178;border-bottom: 1px solid #053178}
.content .title h2{margin:0 0 15px;color: #053178;font-weight: 700;font-size: 25px;text-transform: uppercase}
.content .menu-title .tbl{margin:0 auto;height: 35px;}
.content .menu-title .tbl .tbl-cell{padding: 0 8px;vertical-align: middle;font-size: 16px;}
.content .menu-title .tbl .tbl-cell a{color: #053178}
.content .menu-title .tbl .tbl-cell.active a,.content .menu-title .tbl .tbl-cell:hover a{border-bottom: 3px solid #053178}
.content .title{margin-bottom: 35px;position: relative;}
.row-0{margin:0;}
.row-0>.col-xs-6,.row-0>.col-xs-12{padding:0;}
@media(min-width:992px){
  .col-md-20{width: 20%;}
  .col-md-40{width: 40%;}
}
.list-pr .list .item{margin-bottom: 35px;}
.list-pr .list .item a.img{display: block;width: 100%;height: 210px;border-right: 1px solid #dbdbdb;line-height: 210px;overflow: hidden;}
.list-pr .list .col-xs-6:nth-child(5n) .item a.img{border-right: 0}
.content-about .list-pr .list .col-xs-6:nth-child(5n) .item a.img{border-right: 1px solid #dbdbdb;}
.list-pr .list .item a.img img{max-width: 100%;max-height: 100%;}
.list-pr .list .item .desc{padding: 15px 30px 0;}
.list-pr .list .item .desc h3{font-size: 14px;font-weight: 600;margin:0;margin-bottom:7px;line-height: 20px;height: 40px;overflow: hidden;}
.list-pr .list .item .desc h3 a{color: #053178;}
.list-pr .list .item .desc h3 a:hover{color: #fb8c00}
.list-pr .list .item .desc .price {color: #962400;font-size: 18px;}
.list-pr .list .item .desc .price span.throu{text-decoration: line-through;font-size: 14px;}
.list-pr .list .item-hover{position: relative;width: 100%;height: 297px;margin-bottom: 35px;}
.list-pr .list .item-hover .item{position: absolute;top: 0;left: 0;right: 0;z-index: 1;}
.list-pr .list .item-hover:hover .item{display: none}
.list-pr .list .item-hover .item.item100{display: block;border:1px solid #dbdbdb;padding:0;height: 297px;background: #fff;opacity: 0;position: absolute;width: 0;top: 0;left: -1px;z-index: 2;transition: .3s;}
.list-pr .list .item-hover .item.item100.block{opacity: 1;width: 200%;background: #fff;padding:30px}
.list-pr .list .col-md-20:nth-child(5n) .item-hover .item.item100{right: 0;left: auto;} 
.list-pr .list .col-md-3:nth-child(4n) .item-hover .item.item100{right: 0;left: auto;} 
.list-pr .list .item.item100 a.img{width: 45%;float: left;height: auto;border-right: 0;line-height: initial; padding-right: 30px}
.list-pr .list .item.item100 .desc{overflow: hidden;padding: 10px 0 0;position: relative;height: 100%;}
.list-pr .list .item.item100 .desc h3{height: auto;}
.list-pr .list .item.item100 .desc .demo{font-size: 13px;color: #000000;line-height: 19px;}
.list-pr .list .item.item100 .desc .demo p{margin-bottom: 0}
.list-pr .list .item.item100 .border{height: 3px; background: url('../images/bg-border.jpg') left no-repeat;margin: 15px 0}
.list-pr .list .item.item100 .desc a.views-more{position: absolute;left: 0; bottom: 0}
.list-pr .list .item.item100 .desc a.views-more:hover{color: #fb8c00}
a.views-more {font-size: 13px;color: #053178;}
.content .title-gr{border-bottom: 1px solid #d5d5d5;position: relative;padding: 0 0 15px;margin-bottom: 20px;}
.content .title-gr .tbl .tbl-cell.active a{border-bottom: 0}
.content .title-gr .tbl{margin:0;position: absolute;right: 0;max-width: calc(100% - 130px);height: 25px;top: 0;}
.content .title-gr h2{margin:0;font-size: 23px;font-weight: 600;color: #053178;}
.content .title-gr h2 a{color: #053178;}
.content .title-gr .tbl .tbl-cell{padding:0}
.content .title-gr .tbl .tbl-cell a{border-right: 1px solid #b8b8b8;padding:0 18px;display: block;line-height: 1.1;}
.content .title-gr .tbl .tbl-cell:last-child a{border-right: 0;padding-right: 0}

.row-10{margin:0 -9px}
.row-10>.col-xs-12{padding:0 9px;}
.list-news .item-left a.img{display: block;width: 100%;height: 390px;overflow: hidden;margin-bottom: 20px;}
.list-news a.img img{width: 100%;height: 100%;}
.list-news a.img:hover img{transform: scale(1.2,1.2)}
.list-news .desc h3{margin-top: 0;font-size: 18px;line-height: 22px;max-height: 44px;overflow: hidden;font-weight:600;}
.list-news .desc h3 a{color: #053178}
.list-news .desc h3:hover a{color: #024242;}
p.date{font-size: 13px;color: #444444;font-style: italic}
p.date i{color: #962400}
.list-news .desc p.demo{font-size: 13px;color: #3f3f3f;line-height: 18px;max-height: 54px;overflow: hidden;}
.list-news .list-right .item a.img{width: 167px;height: 91px;float: left;overflow:  hidden;}
.list-news .list-right .item{padding-bottom: 11px;margin-bottom: 10px;overflow: hidden;border-bottom: 1px dotted #c3c3c3;}
.list-news .list-right .item .desc{overflow: hidden;height: 86px;padding-left: 15px;}
.list-news .list-right .item .desc h3{font-size: 16px;line-height: 20px;max-height: 40px;margin-bottom: 7px;}
.list-news .list-right .item .desc p{margin-bottom: 5px;}
.list-news .list-right .item:last-child{padding-bottom: 0;margin-bottom: 0;border-bottom: 0}
.list-news .list-right{max-height: 543px;overflow: auto;}
.section-news{background: #f6f6f6;padding:35px 0;}
.item-left ._item_video {
  position: relative;
  width: 100%;
  height: 317px;
  margin-bottom: 20px;
}
.item-left ._item_video .img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.item-left ._item_video img {
  width: 100%;
  height: 100%;
}
#play {
  width: 64px;
  height: 64px;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background: url('../images/icon-click.png') no-repeat;
  background-size: 100% 100%;
  margin: auto;
}
.list-video .item a.img{
  position: relative;
}
.list-video .item a.img #play{width: 32px;height: 32px;}
.section-ab{padding: 70px 0;background: url(../images/bg-ab.jpg) left top no-repeat;background-size: cover;color: #fff}
.section-ab a{color: #fff;}
.section-ab .title h2{position: relative; padding-bottom: 15px; color: #fff;font-weight: 600;font-size: 23px;}
.section-ab .title h2:before{position: absolute;width: 60px;height: 3px;left: calc(50% - 30px);bottom:0; content: '';background: #fff;}
.abouts-index .text-ab{padding:0 9%;line-height: 28px;font-size: 16px;margin-bottom: 40px;}
a.views-detail{padding: 5px 15px;border:1px solid #fff;border-radius: 20px;font-size: 14px;text-transform: uppercase;margin-top: 30px;}
a.views-detail i{margin-left: 6px;background: #fff;color: #23405e;padding: 1px;border-radius: 50%;height: 15px;width: 15px;text-align:  center;}
a.views-detail:hover{background: #024242}

.footer{background: #014243; color: #fff;}
.footer a{color: #fff;}
.footer a:hover{color:#fb832b}
.top-footer{padding:20px 0;border-bottom: 1px solid #1d5758;}
.top-footer .left .hotline{padding:0;padding-left: 50px;padding-top: 4px;background: url('../images/bg-hotline-bt.png') left no-repeat;line-height: 34px;font-size: 15px;text-transform: uppercase;white-space:  nowrap;}
.top-footer .left .hotline a{font-size: 24px;}
.top-footer .left .list-socical ul{margin-bottom: 0;}
.top-footer .left .list-socical a{display: block;width: 41px;height: 41px;border-radius: 50%;background: #fff;color: #014243;text-align: center;line-height: 41px;font-size: 22px;}
.top-footer .left .list-socical a:hover{color:#fb832b}
.top-footer .left .list-socical .tbl-cell{padding-right: 9px;}
.top-footer .right form span.text{display: block;width: 131px;float: left;font-size: 18px;font-weight: bold;text-transform: uppercase;line-height: 41px;}
.top-footer .right form .input-group{width:calc(100% - 131px);}
.top-footer .right form .input-group .form-control{height: 41px;}
.top-footer .right form .input-group button{background: #d72828;border:0;font-weight: 700; color: #fff;transition:.3s}
.top-footer .right form .input-group .input-group-addon:hover button{background:#fb832b;color:#014243}
.top-footer .right form .input-group .input-group-addon{background: #d72828;border-color: #d72828;transition:.3s} 
.top-footer .right form .input-group .input-group-addon:hover{background:#fb832b;border-color:#fb832b}
.content-footer{padding:35px 0;}
.content-footer .tbl{width: 100%;}
.content-footer .tbl h3{margin-top: 0;margin-bottom:20px;font-size: 15px;text-transform: uppercase} 
.content-footer .tbl ul{padding:0;margin:0;list-style: none;}
.content-footer .tbl .tbl-cell{padding-right: 50px;}
.content-footer .tbl .tbl-cell:last-child{padding-right: 0}
.bottom-footer{padding:15px 0;background: #001c1c;color: #aeaeae;line-height: 20px;overflow: hidden;}
.bottom-footer a{color: #aeaeae;}
.bottom-footer .copyright{float: left;}
.bottom-footer .menu-bottom{float: right;}
.bottom-footer .menu-bottom ul{padding:0; margin:0;}
.bottom-footer .menu-bottom ul li{padding-left: 30px;}

/* giới thiệu */
.content .nav ul {
  margin: 15px 0px 15px;
  line-height: 1;
  padding: 0;
  font-size: 13px;
}
.content .nav ul li{
  display: inline-block;
  padding-right: 20px;
  position: relative;
  color: #3f3f3f;
}
.content .nav ul li a{
  color: #3f3f3f;
}
.content .nav ul li a:after{
  position: absolute;
  top: 3px;
  right: 5px;
  background: url('../images/icon-right.png') no-repeat;
  background-position: center;
  width: 7px;
  height: 8px;
  content: '';
}
@media(min-width:1200px){
  .col-lg-23{width: 23%;}
  .col-lg-77{width: 77%;}
  .col-lg-55{width: 55%;}
  .col-lg-45{width: 45%;}
  .col-lg-20{width: 20%;}
  .col-lg-80{width: 80%;}
  .col-lg-40{width: 40%;}
  .col-lg-60{width: 60%;}
}
.fl-right{float: right;}
.title-left{padding: 9px 10px 8px;background: #014243;color: #fff;}
.title-left h2{margin:0;font-weight: 700;font-size: 16px;text-transform: uppercase}
.menu-left{border-radius: 4px;overflow: hidden;margin-bottom: 20px;}
.menu-left nav{background: #f4f4f4;border:1px solid #d0d0d0;border-radius: 0 0 4px 4px;}
.menu-left ul{padding:0;margin:0;list-style: none;}
.menu-left ul li{padding: 8px 15px 8px 25px;border-bottom: 1px solid #d0d0d0;position: relative;}
.menu-left ul li:last-child{border-bottom:0;}
.menu-left ul li a{color: #242424;}
.menu-left ul li a:hover{color:#053178}
.menu-left ul li:before{position: absolute;left: 0;width: 20px;top: 0;height: 35px;content: '';background: url('../images/bg-li.png') right no-repeat;}
.menu-left.list-news nav{background: #fff;padding-bottom: 20px;border-color: #e0e0e0;}
.menu-left.list-news nav h3{margin:0;font-size: 14px;line-height: 18px;}
.menu-left.list-news ul li{border-bottom: 0;}
.menu-left nav ul li ul{display: none;padding:7px 0}
.menu-left nav ul li:hover ul,.menu-left nav ul li.active ul,.menu-left nav ul li:hover,.menu-left nav ul li.active{display: block;background: #fff;}
.menu-left nav ul li:hover>a, .menu-left nav ul li.active>a{color: #053178}
.menu-left nav ul li ul li{border-bottom: 0;padding: 3px 15px 3px 25px;}
.menu-left ul li ul li:before{height: 25px;}
.title-right{padding: 9px 0 8px 0;border-bottom: 1px solid #d5d5d5; margin-bottom: 16px;}
.title-right h1{margin:0;font-weight: 700;font-size: 16px;color: #053178;}
.right-ct .text-about h2{font-size: 16px;font-weight: 700;}
.right-ct .text-about {color: #242424;line-height: 24px; padding: 5px 0 50px;}
.right-ct .text-about ul{padding-left: 20px;margin-bottom: 0;list-style: none}
.right-ct .text-about ul li{position: relative; margin-bottom: 15px;}
.right-ct .text-about ul li:after{position: absolute;width: 4px;height: 4px;left: -17px;top: 11px;background: #7b7b7b;content: '';border-radius: 50%;}
.color-blue{color: #053178;}

.list-news .list-right .item-news a.img{width: 247px;height: 164px;}
.list-news .list-right .item-news .desc{height: 164px; position: relative;}
.list-news .list-right .item-news .desc a.view-detail{position: absolute;right: 0;bottom: 5px;font-size: 13px;color: #053178;}
.list-news .list-right .item-news .desc a.view-detail i{margin-left: 5px;color: #962400;transition:.3s}
.list-news .list-right .item-news .desc a.view-detail:hover,.list-news .list-right .item-news .desc a.view-detail:hover i{color:#fb8c06}
.list-news .list-right .item-news{margin-bottom: 20px;padding-bottom: 20px;border-bottom: 1px solid #d5d5d5;}
.right-ct .list-news .list-right{max-height: initial}
.right-ct .list-news{padding-bottom: 20px;}
.pagination{
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #d5d5d5;
  margin: 20px 0;
}
.pagi nav ul li a{
  margin-right: 10px;
  color: #312c2c;
  font-weight: bold;
  transition: ease-in-out .3s;
  display: block;
  width: 30px;
  height: 30px;
  border-color: #b4b4b4;
  padding: 0;
  line-height: 30px;
  text-align: center;
}
.pagination > li > a.active,.pagination > li > a:hover{
  border-color: #962400;
  color: black;
  background: #fff;
}
.pagination > li:first-child > a, .pagination > li:last-child > a{
  border-radius: 0px;
}
.addvert img{width: 100%;}
.right-ct .list-pr{padding-top: 15px;}
.list-pr .list .slider-product .item a.img{border:0;border-left: 1px solid #dbdbdb;}
.list-pr .list .slider-product .item.item100 a.img{border:0;}
.list-pr .list .slider-product .item.item100{left: 0;}
.list-pr .list .slider-product .item-hover:last-child .item.item100{right: 0; left: auto;}
.list-pr .list .slider-product .item-hover:first-child .item a.img{border-left: 0;}
.list-pr .list .slider-product .item .desc{padding:15px 30px;}
.list-pr .list .slider-product .item.item100 .desc {
  padding: 0;
}
.slider-product .lSAction{display: block !important;}
.slider-product .lSAction > .lSPrev { left: -25px; background: url(../images/prev1.png) left no-repeat; }
.slider-product .lSAction > .lSNext { right: -25px; background: url(../images/next1.png) right no-repeat; }
.slider-product{position: relative; margin-bottom: 25px;}
.slider-product .lSSlideWrapper{position: initial;}
.content-contact {padding: 30px 0}
.content-contact .left-contact .item{width: 100%;padding: 20px 14px 15px;border:1px solid #d8d8d8;position: relative;color: #4c4c4c;line-height: 18px;margin-bottom: 25px;border-radius: 4px;}
.content-contact .left-contact .item a{color: #4c4c4c}
.content-contact .left-contact .item span.name{position: absolute;top: -11px;left: 10px;padding: 0 5px;background: #fff;font-weight:  700;}
.content-contact .left-contact form label{font-weight: 400;line-height: 27px;white-space:  nowrap;}
.content-contact .left-contact form input.form-control{height: 27px;}
.content-contact .left-contact form .form-group{margin-bottom: 10px;}
.content-contact .left-contact form .form-control{border-radius: 0;}
.content-contact .list-button{padding:5px 0;}
.content-contact .list-button button{height: 30px;border:0;background: #014243;color: #fff;padding: 6px 15px;border-radius: 4px; min-width: 96px;font-weight: 600;}
.content-contact .list-button button.reset{background: #962400;margin-left: 10px;}
.content-contact .iframe{width: 100%; height: 709px;border:1px solid #d8d8d8}
.content-contact{padding-bottom: 30px;}
.back.show { bottom: 70px; opacity: 5; right: 20px; }
.back { position: fixed; bottom: 50px; right: 0; opacity: 0; transition: all 0.5s ease; z-index: 10000; width: 45px; height: 45px; border-radius: 50%; background: #fff; }
.back img { width: 100%; height: 100%; object-fit: cover; }
.show { display: block !important; }

.detail-img {
  border: 1px solid #cccccc;
  margin: 5px;
  z-index: 0;
  margin-left: 100px;
}
.zoomWrapper {
  width: 100% !important;
  height: 330px !important;
  position: relative;
  overflow: hidden;
}
.detail-img img {
  max-width: 100%;
  max-height: 330px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  transition: ease-in-out 0.5s;
}
#gallery_01 {
  position: absolute;
  display: block;
  width: 80px;
  top: 0;
  left: auto;
  height:100%
}
#sync2 .item {
  padding: 0px 2px;
}
.detail-img-small {
  float: left;
  width: 100%;
  height: 80px;
  border: 1px solid #cccccc;
  overflow: hidden;
  text-align: center;
  padding: 10px;
  margin-bottom: 12px;
}
.detail-img-small img {
  max-height: 60px;
  min-height: 60px;
}
.zoomWindow {
  border:1px solid #cccccc;
  left: 100% !important;
  top: -40px !important;
  height: 600px !important;
  width: 600px !important;
}
.zoomLens{width: 100px !important;height: 100px !important;}
.left-dt{position: relative; padding-bottom: 50px;}
.owl-theme .owl-controls{position: initial}

.slider-img .lSAction > a {width: 20px;height: 14px;top: calc(50% - 30px);opacity: 1;margin-left: -8px !important;}
.slider-img .lSAction > .lSPrev {left: 25px;background: url(../images/prev2.png) center no-repeat;background-position: 0 0 !important;}
.slider-img .lSAction > .lSNext { right: 25px; background: url(../images/next2.png) right no-repeat; background-position: 0 0 !important;}
.lSSlideOuter.vertical .lSAction>.lSNext{bottom:-15px}
.lSSlideOuter.vertical .lSAction>.lSPrev{top:-15px}
.slider-img  .lSSlideWrapper,.lSSlideOuter.vertical{position: initial;}
.slider-img{position: relative;}
.content-detail{padding-top: 10px;}
.right-dt h1{font-size: 22px;font-weight: 600;color: #232323;margin:0}
.right-dt .price{padding:10px 0;border-bottom: 1px solid #e3e3e3;margin-bottom: 10px;}
.right-dt .price label{width: 130px;color: #3f3f3f;}
.right-dt .price span{font-size: 18px;font-weight: 600;color: #962400;padding-right: 5px;}
.right-dt .price span.throu{text-decoration: line-through}
.right-dt .price span.sales{font-weight: 400;color: #3f3f3f}
.right-dt .desc{padding:15px 0;}
.right-dt .demo{margin:15px 0 0;}
.right-dt .desc p{margin-bottom: 5px;}
.select .input-group {
  position: relative;
  float: left;
  margin-right: 5px;
}
.right-dt .select a {
  display: table-cell;
  vertical-align: middle;
  font-size: 14px;
  color: #ffffff;
  padding-left: 50px;
}
.select .form-group{width: 150px;float: left;margin-bottom: 0}
.select .form-group  select{
  width: 67px;
  color: rgb(0, 0, 0);
  height: 38px;
  padding-left: 10px;
  color: #666666;
  font-size: 16px;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(236, 236, 236);
  border-image: initial;
  border-radius: 4px;
}
.right-dt .select .addbag {
  display: table;
  width: 148px;
  height: 38px;
  background-color: #014243;
  float: left;
  margin: 0 10px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  transition: ease-in-out .3s;
}
.right-dt .select .addbag:hover{background:#eb8704}
.right-dt .select .addbag:before {
  position: absolute;
  content: '';
  width: 24px;
  height: 100%;
  left: 15px;
  background: url(../images/icon-cart2.png) left no-repeat;
}
.select .form-group label{font-weight: 400;padding-right: 10px;}
.right-dt .select{padding:13px 0;border-top: 1px solid #e3e3e3;border-bottom: 1px solid #e3e3e3;overflow: hidden;}
.list-decan.tbl{width: 100%;height: 75px;}
.list-decan.tbl .tbl-cell{vertical-align: middle;padding: 0 70px 0 50px;background: url(../images/bg-decan.jpg) left no-repeat;line-height: 1.1;color: #3f3f3f;}
.list-decan.tbl .tbl-cell:nth-child(2){background: url(../images/bg-decan2.jpg) left no-repeat;}
.list-decan.tbl .tbl-cell:last-child{padding-right: 0;background: url(../images/bg-decan3.jpg) left no-repeat;background-position-x: 10px;}

.about-pr span.ab{
  background: #878787;
  color: #fff;padding:6px 25px;border-radius: 4px 4px 0 0;font-weight: 700;
}
.about-pr .text{border:1px solid #878787;padding:25px 20px;margin-top: 4px;margin-bottom: 20px; color: #3f3f3f;line-height: 24px;}
.about-pr .text p{margin-bottom: 15px;}
.banner-advert{margin-bottom: 14px;}

div.stars {
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 5px;
  font-size: 30px;
  color: #eff0f5;
  line-height: 24px;
  transition: all .2s;
  margin: 0;
}

input.star:checked ~ label.star:before {
  content: '\f005';
  color: #faca51;
  transition: all .25s;
}

input.star-5:checked ~ label.star:before {
  color: #faca51;
  text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f005';
  font-family: FontAwesome;
}
.evalua .title{background: #f6f6f6;padding:15px;margin:0;bordeR:1px solid #ebebeb;border-bottom: 0}
.evalua .title h3{margin:0;font-size: 14px; font-weight: 700;color: #101010;}
.evalua .ct-eva{padding:25px 15px;border:1px solid #ebebeb;overflow: hidden;margin-bottom: 20px;} 
.ct-eva .stars-id{
  width: 22%;
  float: left;
  min-width: 175px;
}
.ct-eva .stars-id .text-star span{font-size:16px;color: #101010;font-weight: 600}
.ct-eva .stars-id .text-star label{font-size: 32px;color: #101010;font-weight: 600;padding-right: 5px;}
.percent ul{padding:0;margin:0;list-style: none;width: 100%;}
.percent ul li{display: table-cell;}
.percent ul li:first-child{width: 50px;font-size: 13px;color: #757575}
.percent ul li:last-child{width: 50px;padding-left: 10px;}
.percent ul li{width: 253px;position: relative;}
.percent ul li label{font-weight: 400;color: #212121;}
.percent ul li span.per{position: absolute;display: block;width: 100%;bottom: 10px;height: 12px;background: #eff0f5;}
.percent ul li span.per.perc{width: 40%;background: #faca51;z-index: 1;}
.percent{width:30%;min-width: 320px;float: left;}
.ct-eva button{
  display: table;
  height: 38px;
  background-color: #014243;
  margin: 0 10px;
  border-radius: 2px;
  position: relative;
  overflow: hidden;
  text-transform: uppercase;
  border:0;padding: 0 30px;color: #fff;
  float: right;
  transition:.3s;
}
.ct-eva button:hover{background:#eb8704}
.content-about .title-right{position: relative;}
.content-about .title-right .form-sort{position: absolute;right: 0;top: 0;}
.content-about .title-right .form-sort label{font-weight: 600;padding: 0 5px; color: #4b4847;}
.content-about .title-right .form-sort select{height: 27px;padding:0 35px 0 10px;border:1px solid #dbdbdb;-webkit-appearance: none;
  background: url(../images/bg-select.jpg) right no-repeat;
  background-color: #fff !important;}
  .content-about .title-right .form-sort .tbl-cell{padding-left: 10px;}